body {
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  background-color: #0f8b8d;
  padding: 10px 10px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  line-height: 36px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.alamat {
  margin-left: 138px;
}
.content h1 {
  color: #0f8b8d;
  margin-top: 245px;
  font-size: 48px;
}
.content p {
  font-size: 24px;
}

.maps iframe {
  position: absolute;
  width: 45%;
  height: 100%;
  left: 724.2px;
  top: 336.17px;
  left: 724px;
  border-radius: 20px;
}

.container {
  position: absolute;
  width: 474px;
  height: 196px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-left: 138px;
  margin-top: 40px;
}

.container .alamat1 h2 {
  color: #143642;
  font-size: 30px;
  margin-left: 45px;
}

.container .alamat1 p {
  color: #143642;
  font-size: 20px;
  margin-left: 45px;
}
.container1 {
  position: absolute;
  width: 474px;
  height: 196px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-left: auto;
  margin-top: 100px;
}
.container .alamat2 h2 {
  color: #143642;
  font-size: 30px;
  margin-left: 45px;
}

.container2 {
  position: absolute;
  width: 474px;
  height: 196px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  margin-top: 100px;
}

.container .alamat2 p {
  color: #143642;
  font-size: 20px;
  margin-left: 45px;
}
.container .alamat3 h2 {
  color: #143642;
  font-size: 30px;
  margin-left: 45px;
}

.container .alamat3 p {
  color: #143642;
  font-size: 20px;
  margin-left: 45px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 463px;
  left: auto;
  margin-top: 848px;
  background: #143642;
  border-radius: 20px;
}

footer .footer-main {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 1fr;
  margin-top: 70px;
}

footer .footer-main .footer-col img {
  position: absolute;
  width: 33, 3%;
  height: 67px;
  left: 138px;
  top: 100px;
}
footer .footer-main .footer-icon {
  display: flex;
  position: absolute;
  width: 33, 3%;
  height: 67px;
  left: 138px;
  top: 165px;
}

footer .footer-main .footer-col h4 {
  color: #ec9a29;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
}

footer .footer-main .footer-col ul li a {
  text-decoration: none;
  display: grid;
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-size: 20px;
  padding: 10px 5px;
  color: #f9fbfe;
  right: 42px;
}
footer .footer-main .footer-col ul li {
  list-style: none;
}
.footer1 {
  text-align: center;
  margin-top: 100px;
  color: white;
}
